<!DOCTYPE html>
<!-- 
   But :    Vue de l'application, permet d'afficher le contenu principal de l'application
   Auteur : Lionel Ding
   Date :   08.06.2020 / V1.0 
   -->

<hr>
<div id="search-bar">
    <div class="row">
        <div class="col-md-12">
            <form class="row searchBarForm">
                <div class="col-12 col-sm pr-sm-0 mr-sm-2">

                    <!-- Search bar -->
                    <input id="searchText" type="text" placeholder="Search" class="form-control">
                </div>
                <div class="col-12 col-sm-auto pl-sm-0">

                    <!-- Search bouton -->
                    <input id="searchButton" type="button" value="Search" class="btn btn-outline-danger btn-block">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Texte de retour pour le user -->
<p id="result">Results found for ""</p>

<!-- Gallery - Results -->
<div class="row text-center text-lg-left gallery">
</div>